<ng-template #content let-modal>
  <div class="modal-header">
    <h2 class="modal-title" id="modal-basic-title">Inclusão de Novo Paciente</h2>
  </div>

  <div class="modal-body">
    <form [formGroup] = "uploadForm" (ngSubmit)="onSubmit()">
      <div class="left-form">
        <h4>Dados pessoais</h4>
        <mat-form-field appearance="fill">
          <mat-label>Nome completo</mat-label>
          <input matInput required formControlName="nome">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>E-mail</mat-label>
          <input matInput 
                type="email"
                [email]="true"
                formControlName="email"
                required 
          >
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Sexo</mat-label>
          <select matNativeControl required formControlName="sexo">
            <option></option>
            <option value="Feminino">Feminino</option>
            <option value="Masculino">Masculino</option>
          </select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Cpf</mat-label>
          <input matInput type="text" 
                class="cpf" 
                mask="000.000.000-00"
                [dropSpecialCharacters]="false"
                required 
                formControlName="cpf">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Celular</mat-label>
          <input matInput type="phone" 
                mask="(00) 00000-0000"
                [dropSpecialCharacters]="false"
                required 
                formControlName="celular">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Data de nascimento</mat-label>
          <input matInput type="text"
                mask="00/00/0000"
                [dropSpecialCharacters]="false"
                formControlName="data_nascimento"
                required 
                >
        </mat-form-field>

        <div class="modal-footer">
          <button type="submit" class="btn btn-outline-primary">Adicionar</button>
          <button type="reset" class="btn btn-outline-dark">Limpar</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<button mat-flat-button color="primary" (click)="open(content)">
  Novo Paciente
</button>

