/* You can add global styles to this file, and also import other style files */
html, body { min-height: 100%; }

body {
    padding: 0;
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background: linear-gradient(
        to bottom right,
        #5B7FFF, #33CCFC
    );
    background-repeat: no-repeat;

}


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
